# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.Python

# Environments
.env
.venv

# ignoring big directories
doc_text/
#documentations/
prompts/
LLM_Responses/
refined_prompts/
refined_LLM_Responses/
.pytest_cache/
.coverage
.idea

*.zip
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/TestPilot_Python.iml
.idea/vcs.xml
*.xml
